/*
  Universal Animations for Web Apps
  Style of Joe Villegas (joevillegasisawesome@gmail.com)

  Updated 3/14/2019.
*/

/*  App-Wide Animations */

@keyframes screen-slide-up {
    from {
        transform: translateY(20%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes screen-slide-up-empty-full {
    from {
        transform: translateY(20%);
        opacity: .0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes screen-lay-in {
    from {
        transform: scale(1.25);
        opacity: 0;
    }

    to {
        transform: scale(1.00);
        opacity: 1;
    }
}

@keyframes initial-screen-slide-up-empty-full {
    from {
        transform: translateY(30%);
        opacity: .0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes text-slide-up-empty-full {
    from {
        transform: translateY(100%);
        opacity: .0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideup-card {
    0% {
        opacity: 0;
        transform: translateX(-0%) translateY(75%);
    }


    100% {
        opacity: 1;
        transform: translateX(-00%) translateY(-00%);
    }
}