.background-particles-alt {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1337;

    height: 10000%;
    width: 10000%;

    color: whitesmoke;
    background-color: black;
}

.Analysis {
    color: white;

    /*
    opacity: 0;
    animation: initial-screen-slide-down-empty-full ease-out .5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    */
}