table {
    display: contents;


    opacity: 0;
    animation: initial-screen-slide-down-empty-full ease-out .5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    width: 90vw;
    height: 80vh;
}

th {
    border-radius: 2px;
    transform: translateY(1px);
    text-align: center;
    color: 'green';
}

td {
    border: 1px solid rgb(94, 94, 94);
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #272727;
}

tr {
    background-color: #000000;
}


tr:hover {
    background-color: rgb(90, 90, 90);
}

thead>tr {
    background-color: #005a03;
}

tbody {
    height: 75vh;
}

.title-text {
    text-align: left;
    text-decoration: none;
}

.track-table-item a {
    color: white;
}

.track-table thead tr {
    text-align: center;
}