table {
    display: contents;
}

th {
    text-align: center;
}

.title-text {
    text-align: left;
    text-decoration: none;
}

.track-table-item a {
    color: white;
}

.track-table thead tr {
    text-align: center;
}