td {
    padding: 6px;
    border-radius: 1px;

    line-break: auto;
}

button[type='sort'] {
    color: white;
    background-color: rgb(99, 99, 99);
    border-color: black;
    border-radius: 10px;
    margin: 10px;

    transition: .25s;
}

button[type='sort'] :active {
    background-color: darkolivegreen;

    transition: .25s;
}

.sort-active {
    background-color: green;
}

.track-table {
    overflow-x: hidden;
    display: block;

    opacity: 100;
    margin: 0 auto;
    margin-block-end: 10px;

    width: 90vw;
    max-width: fit-content;
    height: 500px;


    animation: initial-screen-slide-down-empty-full ease-out .5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}