/*  App-Wide styles for components. Can be overridden by child CSS classes. */

/*  Type-Specific Styling */
input {
  border: 0;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type=submit] {
  color: white;
  background-color: darkslategray;

  transition: .25s;
}

input[type=text] {
  color: black;
}

input[type=submit]:hover {
  color: white;
  background-color: green;

  transition: .25s;
}

.background-particles {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1337;

  color: grey;
  background-color: slategray;
}

/*  Component-Specific Styling */

.fill-style {
  width: -webkit-fill-available;
}