button[type='sort'] {
    color: white;
    background-color: rgb(99, 99, 99);
    border-color: black;
    border-radius: 10px;
    margin: 10px;

    transition: .25s;
}

button[type='sort'] :active {
    background-color: darkolivegreen;

    transition: .25s;
}

.sort-active {
    background-color: green;
}